<footer class="page-footer ">
  <div class="footer-copyright white">
    <div class="container grey-text">© 2019 Javier
      Caballero<a class="grey-text text-lighten-2 right" href="https://javiercaballero.info" target="_blank">Web
      site</a></div>
  </div>
</footer>