<div class="body">

  <%= render 'header' %>

  <main>
    <div class="container mt-5">

      <h1>Editing User</h1>

      <%= render 'form', user: @user %>



    </div>
  </main>

  <%= render 'footer' %>

</div>
