/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chips .input{
  margin: 0 !important;
  border: none !important;
}

.full-width-table{
  width: 100%;
}
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1.header{
  color: #616161;
}
@media all and (max-width: 600px) {

  h1{
    font-size: 3.2rem;
  }

  nav .brand-logo{
    font-size: 1.7rem;
  }

}
@media all and (min-width: 600px) {

  nav .brand-logo {
    margin-left: 20px;
  }

}
main {
  flex: 1 0 auto;
  background: gainsboro;
}

.modal.modal-fixed-footer .modal-content{
  overflow-x: hidden;
}
.btn-block {
  display: block !important;
  width: 100%;
}

.modal-footer .row{
  margin: 0;
}

.ml-1{
  margin-left: 10px;
}

.toast{
  padding: 0;
  min-height: 0;
}

.toast span{
  padding: 10px 25px;
  min-height: 48px;
  line-height: 28px;
  width: 100%;
}

.background-loader{
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: rgba(187, 187, 187, 0.58);
  left: 0;
  z-index: 10000;
}

.background-loader .preloader-wrapper.big{
  width: 128px;
  height: 128px;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
}

.delete-modal{

}

.delete-modal .modal-header{
  padding: 14px;
}

.delete-modal .modal-content h6{
  margin: 0.46rem;
}

.delete-modal .modal-footer{
  border-top: 1px solid rgba(0,0,0,0.1);
}

.standard-table tr td:last-child{
  width: 122px;
}

.m-0{
   margin: 0 !important;
}

.mt-0{
  margin-top: 0 !important;
}

.page-footer{
  padding: 0;
}

.sidenav-overlay{
  z-index: 1;
}

.sidenav.collection .collection-item:last-child{
  border-bottom: 1px solid #e0e0e0;
}

.modal-content > .row{
  margin-bottom: 0;
}